
#paramPool.col-md-8
  table.table
    thead
      tr
        th Overview
        th Pattern
    tbody
      each patient, index in patients
        tr
          td.name #{patient.name}
            img(src="api/v1/file/" + patient.thumbnailId + "/download")
          td.pattern-drop-zone(pname=patient.name, index=index)
            i.icon-docs Drop a pattern from pool

#optionPool.col-md-4
  table.table
    thead
      tr
        th Pattern Pool
    tbody
      each pattern, index in pool
        if index%1 === 0
          tr
        //- pattern --> "{'order': ['1', '1', '1'], 'axis': '1'}"
        td.patternOption(order=pattern.order, axis=pattern.axis, draggable='true', ondragstart=`event.dataTransfer.setData('order','${pattern.order}');event.dataTransfer.setData('axis','${pattern.axis}')`)
          if pattern.axis === '1'
            each mouse in pattern.order
              if mouse === '1'
                img(src='static/built/assets/mouse.png')
              else
                img(src='static/built/assets/no.png')
          if pattern.axis === '0'
            each mouse in pattern.order
              if mouse === '1'
                img(src='static/built/assets/mouse.png', style='transform: rotate(-90deg)')
              else
                img(src='static/built/assets/no.png')
