
#paramPool.col-md-8
  table.table
    thead
      tr
        th.overviewHead View
        th.nameHead Name
        th.patternHead Pattern
    tbody
      if patients['MRI'].length
        tr
          td.modalityLabel(colspan='3')
            label MRI
        each patient, index in patients['MRI']
          tr
            if from === 'Archive'
              td.thumb
                img(src="api/v1/Archive/SAIP/slice/download?Type=thumbnail&id=" + 
                patient.thumbnailId)
              td.name #{patient.name}
              td.pattern-drop-zone(pname=patient.series_path, index=index)
                i.icon-docs Drop a pattern from pool
            else
              td.thumb
                img(src="api/v1/file/" + patient.thumbnailId + "/download")
              td.name #{patient.name}
              td.pattern-drop-zone(pname=patient.experiment + '/' + patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=index)
                i.icon-docs Drop a pattern from pool
      if patients['PTCT'].length
        tr
          td.modalityLabel(colspan='3')
            label PTCT
        each patient, index in patients['PTCT']
          tr
            if from === 'Archive'
              td.thumb
                img(src="api/v1/Archive/SAIP/slice/download?Type=thumbnail&id=" + 
                patient.thumbnailId)
              td.name #{patient.name}
              td.pattern-drop-zone(pname=patient.series_path, index=index)
                i.icon-docs Drop a pattern from pool
            else
              if index % 2 === 0
                tr
                  td.patientNameLabel(colspan='3')
                    label #{patient.patient_name}
              td.thumb
                img(src="api/v1/file/" + patient.thumbnailId + "/download")
              td.name #{patient.name}
              td.pattern-drop-zone(pname=patient.experiment + '/' + patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=patients['MRI'].length + index)
                i.icon-docs Drop a pattern from pool
      //- else if modality === 'PTCT'
      //-   each patient, index in patients
      //-       if index % 2 === 0
      //-         tr
      //-           td.patientNameLabel(colspan='3')
      //-             label #{patient.patient_name}
      //-       tr
      //-         td.thumb
      //-           img(src="api/v1/file/" + patient.thumbnailId + "/download")
      //-         td.name #{patient.name}
      //-         td.pattern-drop-zone(pname=patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=index)
      //-           i.icon-docs Drop a pattern from pool

#optionPool.col-md-4
  table.table
    thead
      tr
        th Pattern Pool
    tbody
      each pattern, index in pool
        if index%1 === 0
          tr
        //- pattern --> "{'order': ['1', '1', '1'], 'axis': '1'}"
        td.patternOption(order=pattern.order, axis=pattern.axis, draggable='true', ondragstart=`event.dataTransfer.setData('order','${pattern.order}');event.dataTransfer.setData('axis','${pattern.axis}')`)
          if pattern.axis === '1'
            each mouse in pattern.order
              if mouse === '1'
                img(src='static/built/assets/mouse.png')
              else
                img(src='static/built/assets/no.png')
          if pattern.axis === '0'
            each mouse in pattern.order
              if mouse === '1'
                img(src='static/built/assets/mouse.png', style='transform: rotate(-90deg)')
              else
                img(src='static/built/assets/no.png')
