#paramPool.col-md-8
  table.table
    thead
      tr
        th.overviewHead Preview
        th.nameHead Name
        th.patternHead Pattern
    tbody
      if hierarchyType === 'Experiment'
        tr(data-droppedFolderId=droppedFolderId)
          td.experimentLabel(colspan='3')
            label #{experimentName}
            label.removeExp x
        if patients['MRI'].length !== 0
          each patient, index in patients['MRI']
            if from === 'Archive'
              tr(data-droppedFolderId=droppedFolderId)
                td.thumb
                  input.studyCheckbox(type="checkbox", checked=true)
                  img(src="static/built/mnt/scippy_images/" + patient.patient_path + '/' + patient.study_path + '/' + patient.series_path + '/' + patient.thumbnailId)
                td.name #{patient.name}
                td.pattern-drop-zone(pname="/mnt/scippy_images/" + patient.experiment + '/' + patient.patient_path + '/' + patient.study_path + '/' + patient.series_path, index=index, modality='MRI')
                i.icon-docs Drop a pattern from pool
            else
              tr(data-droppedFolderId=droppedFolderId)
                td.thumb
                  input.studyCheckbox(type="checkbox", checked=true, index=patient._id)
                  img(src="api/v1/file/" + patient.thumbnailId + "/download")
                td.name
                  span.patientName #{patient.patient_name.split(' ')[0]} 
                  span #{patient.name}
                td.pattern-drop-zone(pname=patient.experiment + '/' + patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=patient._id, modality='MRI')
                  i.icon-docs Drop a pattern from pool
        if patients['PTCT'].length !== 0
          each patient, index in patients['PTCT']
            if from === 'Archive'
              if index % 2 === 0
                tr(data-droppedFolderId=droppedFolderId)
                  td.patientNameLabel(colspan='3')
                    label #{patient.name}
              tr(data-droppedFolderId=droppedFolderId)
                td.thumb
                  input.studyCheckbox(type="checkbox", checked=true)
                  img(src="static/built/mnt/scippy_images/" + patient.patient_path + '/' + patient.study_path + '/' + patient.series_path + '/' + patient.thumbnailId)
                td.name #{patient.name}
                td.pattern-drop-zone(pname="/mnt/scippy_images/" + patient.experiment + '/' + patient.patient_path + '/' + patient.study_path + '/' + patient.series_path, index=index, modality='PTCT')
                i.icon-docs Drop a pattern from pool
            else
              if index % 2 === 0
                tr(data-droppedFolderId=droppedFolderId)
                  td.patientNameLabel(colspan='3')
                    label #{patient.patient_name}
              tr(data-droppedFolderId=droppedFolderId)
                td.thumb
                  input.studyCheckbox(type="checkbox", checked=true, index=patient._id)
                  img(src="api/v1/file/" + patient.thumbnailId + "/download")
                td.name
                  span.patientName #{patient.patient_name.split(' ')[0]} 
                  span #{patient.name}
                td.pattern-drop-zone(pname=patient.experiment + '/' + patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=patient._id, modality='PTCT')
                    i.icon-docs Drop a pattern from pool


      //- if hierarchyType === 'Root'

      //- if patients['PTCT'].length
      //-   each patient, index in patients['PTCT']
      //-     if hierarchyType === 'Root'
      //-       if lastPatient === undefined
      //-         - var lastPatient = patient.experiment
      //-         tr(data-experiment=experimentName)
      //-           td.experimentLabel(colspan='3')
      //-             label #{patient.experiment}
      //-             label.removeExp x
      //-       else if lastPatient !== patient.experiment
      //-         tr(data-experiment=experimentName)
      //-           td.experimentLabel(colspan='3')
      //-             label #{patient.experiment}
      //-             label.removeExp x
      //-     tr(data-experiment=experimentName)
      //-       if from === 'Archive'
      //-         if index % 2 === 0
      //-           tr(data-experiment=experimentName)
      //-             td.patientNameLabel(colspan='3')
      //-               label #{patient.name}
      //-         td.thumb
      //-           img(src="static/built/mnt/scippy_images/" + patient.patient_path + '/' + patient.study_path + '/' + patient.series_path + '/' + patient.thumbnailId)
      //-         td.name #{patient.name}
      //-         td.pattern-drop-zone(pname="/mnt/scippy_images/" + patient.experiment + '/' + patient.patient_path + '/' + patient.study_path + '/' + patient.series_path, index=index)
      //-           i.icon-docs Drop a pattern from pool
      //-       else
      //-         if index % 2 === 0
      //-           --console.log('tiger12')
      //-           tr(data-experiment=experimentName)
      //-             td.patientNameLabel(colspan='3')
      //-               label #{patient.patient_name}
      //-         td.thumb
      //-           img(src="api/v1/file/" + patient.thumbnailId + "/download")
      //-         td.name #{patient.name}
      //-         if hierarchyType === 'Experiment'
      //-           td.pattern-drop-zone(pname=patient.experiment + '/' + patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=patients['MRI'].length + index)
      //-             i.icon-docs Drop a pattern from pool
      //-         else if hierarchyType === 'Root'
      //-           td.pattern-drop-zone(pname=patient.rootFolder + '/' + patient.experiment + '/' + patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=patients['MRI'].length + index)
      //-             i.icon-docs Drop a pattern from pool
      //- else if modality === 'PTCT'
      //-   each patient, index in patients
      //-       if index % 2 === 0
      //-         tr
      //-           td.patientNameLabel(colspan='3')
      //-             label #{patient.patient_name}
      //-       tr
      //-         td.thumb
      //-           img(src="api/v1/file/" + patient.thumbnailId + "/download")
      //-         td.name #{patient.name}
      //-         td.pattern-drop-zone(pname=patient.patient_name + '/' + patient.study_name + '/' + patient.name, index=index)
      //-           i.icon-docs Drop a pattern from pool

#optionPool.col-md-4
  table.table
    thead
      tr
        th Pattern Pool
    tbody
      each pattern, index in pool
        //- if index%1 === 0
        tr
          //- pattern --> "{'order': ['1', '1', '1'], 'axis': '1'}"
          if pattern.TB === '1'
            if pattern.orderT.length === 1
              td.patternOption(order=pattern.order, axis=pattern.axis, draggable='true', ondragstart=`event.dataTransfer.setData('TB','${pattern.TB}');event.dataTransfer.setData('orderT','${pattern.orderT}');event.dataTransfer.setData('orderB','${pattern.orderB}');event.dataTransfer.setData('axis','${pattern.axis}')`)
                  img(src='static/built/assets/TB12.png')
            else if pattern.orderT.length === 2
              td.patternOption(order=pattern.order, axis=pattern.axis, draggable='true', ondragstart=`event.dataTransfer.setData('TB','${pattern.TB}');event.dataTransfer.setData('orderT','${pattern.orderT}');event.dataTransfer.setData('orderB','${pattern.orderB}');event.dataTransfer.setData('axis','${pattern.axis}')`)
                  img(src='static/built/assets/TB21.png')
          else
            td.patternOption(order=pattern.order, axis=pattern.axis, draggable='true', ondragstart=`event.dataTransfer.setData('order','${pattern.order}');event.dataTransfer.setData('axis','${pattern.axis}')`)
              if pattern.axis === '1'
                each mouse in pattern.order
                  if mouse === '1'
                    img(src='static/built/assets/mouse.png')
                  else
                    img(src='static/built/assets/no.png')
              if pattern.axis === '0'
                each mouse in pattern.order
                  if mouse === '1'
                    img(src='static/built/assets/mouse.png', style='transform: rotate(-90deg)')
                  else
                    img(src='static/built/assets/no.png')
