.g-analysis-nav-container
  .g-global-nav-main
    .appNavBlock
      label Tasks
      //- slurm setting
      //- i.icon-cog(data-toggle="collapse", href="#slurmOptionsContent", aria-expanded="false", aria-controls="slurmOptionsContent")
      //- #slurmOptionsContent.slurmOptionsContent.collapse
    .row
      #v-taskNav-tab.col-md-4.nav.flex-column.nav-pills(aria-orientation="vertical")
        ul#taskNav.nav.flex-column.bg-white.mb-0
      #v-taskNav-tabContent.col-md-8.tab-content
      //- each task in tasks
      //-   if currentTask === task
      //-     li.nav-item.enabledTask.active(id=task)
      //-       a #{task}
      //-   else
      //-     li.nav-item.enabledTask(id=task)
      //-       a #{task}
    //- button#dataManagement.btn-primary
    //-   i.icon-left-hand
    //-   span data management
    .appNavBlock
      label Data management
    ul#appsNav.list.components.g-global-nav
      //- .appsNavPanel.panel
      //-   li.g-global-nav-li(data-toggle="collapse",
      //-       data-target='#appsSAIPArch',
      //-       data-parent="#appsNav")
      //-     a.g-nav-link.qc-SAIP(g-name='qcSAIPProject' g-target='qcSAIPProject')
      //-       i.icon-download-cloud
      //-       span SAIP
      //-   .appsArch#appsSAIPArch.collapse

      //- if SSR_Project.id
      //-   .appsNavPanel.panel
      //-     li.g-global-nav-li(data-toggle="collapse",
      //-       data-target='#appsSSRArch',
      //-       data-parent="#appsNav")
      //-       a.g-nav-link.qc-Filesystem(g-id=SSR_Project.id g-name='qcSSRProject' g-target='qcSSRProject')
      //-         i.icon-file-archive
      //-         span #{SSR_Project.get('name')}
      //-     .appsArch#appsSSRArch.collapse

      //- if user.id
      //-   .appsNavPanel.panel
      //-     li.g-global-nav-li(data-toggle="collapse",
      //-       data-target='#appsUSERArch',
      //-       data-parent="#appsNav")
      //-       a.g-nav-link.qc-Girder(g-id=user.id g-name='qcUsers' g-target='qcUsers')
      //-         i.icon-edit
      //-         span #{user.name()}
      //-     .appsArch#appsUSERArch.collapse

      //- ul.viewButton(style='list-style: none;')
      //-   button.btn.btn-success#startLink
      //-     i.icon-link
      //-     a Link
  .s-nav-siderBar
    span.hideBar
.task-container
